/* Set the background image sources */
#page1 { background-image: url("img/page1.jpg"); }
#page2 { background-image: url("pdf/page2.pdf"); }
#page3 { background-image: url("pdf/page3.pdf"); }
#page4 { background-image: url("pdf/page4.pdf"); }
/* Background settings */
.demo-page {
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
/* Transparent footer */
.demo-page .ui-footer {
background: none;
border: none;
bottom: 0;
}
/* The footer won't have a height because there are only two absolute positioned elements in it.
So we position the buttons from the bottom. */
.control.ui-btn-left,
.trivia-btn.ui-btn-right {
top: auto;
bottom: 7px;
margin: 0;
}
/* Custom styling for the trivia source */
small {
font-size: .75em;
color: #666;
}